<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("layout/head") %>
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <%- include("layout/header") %> 
    <main class="main">
        <section class="image-slider">
            <div class="container-fluid">
                <div class="row">
                    <div class="col d-flex justify-content-center align-item-center">
                        <div class="slider">
                                <div class="slide active">
                                    <img src="<%= data[0].HinhAnh %>" alt="">
                                    <div class="info">
                                        <h2><%= data[0].TieuDe %></h2>
                                        <p><%= data[0].NoiDung %> </p>
                                    </div>
                                </div>
                                <% for(let i = 1; i < 7; i++) { %>
                                    <div class="slide">
                                        <img src="<%= data[i].HinhAnh %>" alt="">
                                        <div class="info">
                                            <h2><%= data[i].TieuDe %></h2>
                                            <p><%= data[i].NoiDung %> </p>
                                        </div>
                                    </div>
                                <% } %> 
                            <div class="navigation">
                                <i class="fas fa-chevron-left prev-btn"></i>
                                <i class="fas fa-chevron-right next-btn"></i>
                            </div>
                            <div class="navigation-visibility">
                                <div class="slide-icon active"></div>
                                <div class="slide-icon"></div>
                                <div class="slide-icon"></div>
                                <div class="slide-icon"></div>
                                <div class="slide-icon"></div>
                                <div class="slide-icon"></div>
                                <div class="slide-icon"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="historical-monument">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="historical-monument__title d-flex justify-content-center">
                            Historical Monuments
                        </h2>
                        <h4><a class="historical-monument__link" href="/historical/geographical">Geographical</a></h4>
                    </div>
                    <div class="col-md-12">
                        <div class="historical-monument__content">
                            <div class="row">
                                <% for(let i = 7; i < 13; i++) { %>
                                <div class="col col-12 col-xl-4 col-md-6 col-sm-12">
                                    <article>
                                        <a class="imgover" href="<%= data[i].Slug %>"><img src="<%= data[i].HinhAnh %>"></a>
                                        <br>
                                        <br>
                                        <div class="posts-content">
                                            <h6 class="heading"><%= data[i].TieuDe %></h6>
                                            <time><strong><%= data[i].Ngay %></strong> <em><%= data[i].Thang %></em></time>
                                            <p><%= data[i].NoiDung %></p>
                                        </div>
                                        <footer><a class="btn" href="<%= data[i].Slug %>">Read More</a></footer>
                                    </article>
                                </div>
                                <% } %> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="time">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4><a class="historical-monument__link" href="historical/time">Time</a></h4>
                    </div>
                    <div class="col-md-12">
                        <div class="historical-monument__content">
                            <div class="row">
                                <% for(let i = 16; i < 22; i++) { %>
                                <div class="col col-12 col-xl-4 col-md-6 col-sm-12">
                                    <article>
                                        <a class="imgover" href="<%= data[i].Slug %>"><img src="<%= data[i].HinhAnh %>"></a>
                                        <br>
                                        <br>
                                        <div class="posts-content">
                                            <h6 class="heading"><%= data[i].TieuDe %></h6>
                                            <time><strong><%= data[i].Ngay %></strong> <em><%= data[i].Thang %></em></time>
                                            <p><%= data[i].NoiDung %></p>
                                        </div>
                                        <footer><a class="btn" href="<%= data[i].Slug %>">Read More</a></footer>
                                    </article>
                                </div>
                                <% } %> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="customs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4><a class="historical-monument__link" href="historical/customs">Customs</a></h4>
                    </div>
                    <div class="col-md-12">
                        <div class="historical-monument__content">
                            <div class="row">
                                <% for(let i = 25; i < 31; i++) { %>
                                    <div class="col col-12 col-xl-4 col-md-6 col-sm-12">
                                        <article>
                                            <a class="imgover" href="<%= data[i].Slug %>"><img src="<%= data[i].HinhAnh %>"></a>
                                            <br>
                                            <br>
                                            <div class="posts-content">
                                                <h6 class="heading"><%= data[i].TieuDe %></h6>
                                                <time><strong><%= data[i].Ngay %></strong> <em><%= data[i].Thang %></em></time>
                                                <p><%= data[i].NoiDung %></p>
                                            </div>
                                            <footer><a class="btn" href="<%= data[i].Slug %>">Read More</a></footer>
                                        </article>
                                    </div>
                                    <% } %> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mt-3 mb-5">
                        <h2 class="gallery-content d-flex justify-content-center">
                            <a class="gallery__link" href="/gallery">Gallery</a>
                        </h2>
                    </div>
                    <div class="full-screen-portfolio" id="portfolio">
                        <div class="container-fluid">
                            <div class="row">
                                <% for(let i = 0; i < 9; i++) { %>
                                <div class="col-md-4 col-sm-6">
                                    <div class="portfolio-item">
                                        <div class="thumb">
                                            <div class="hover-effect">
                                                <div class="hover-content">
                                                    <h1><%= data[i].TieuDe %></h1>
                                                    <p><%= data[i].NoiDung %></p>
                                                </div>
                                            </div>
                                            <div class="image">
                                                <img src="<%= data[i].HinhAnh %>">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="number-counter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="number-counter__content mt-5">
                            <h3 class="d-flex justify-content-center">Parameters of the page achieved</h3>
                        </div>
                        <div class="wrapper">
                            <div class="counter">
                                <i class="fa fa-thumbs-up fa-2x"></i>
                                <h2 class="count-title counter-value" data-count="5050"></h2>
                                <p class="count-text">Likes</p>
                            </div>

                            <div class="counter">
                                <i class="fa fa-comments fa-2x"></i>
                                <h2 class="count-title counter-value" data-count="2021"></h2>
                                <p class="count-text">Comments</p>
                            </div>

                            <div class="counter">
                                <i class="fa fa-eye fa-2x"></i>
                                <h2 class="count-title counter-value" data-count="10123"></h2>
                                <p class="count-text">Views</p>
                            </div>

                            <div class="counter end">
                                <i class="fa fa-share fa-2x"></i>
                                <h2 class="count-title counter-value" data-count="1043"></h2>
                                <p class="count-text">Share</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("layout/footer") %>
    <script src="js/image-slider.js"></script>
    <script src="js/number-counter.js"></script>
</body>
</html>