<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("layout/head") %>
    <title>Time News</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/geographical-news.css" type="text/css">
</head>
<body>
    <%- include("layout/header") %> 
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 pt-5">
                <section class="news-post-main">
                    <div class="row">
                        <div class="col-md-6 pr-0">
                            <div class="img-introduce">
                                <% id %> 
                                <img src="<%= data[id - 1].HinhAnh %>" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 pl-0">
                            <div class="titel-introduce-img">
                                <span><%= data[id - 1].TacGia %></span>
                                <h4><%= data[id - 1].TieuDe %></h4>
                                <div class="content">
                                    <p><%= data[id - 1].NoiDung %></p>
                                </div>
                                <div class="day-posts">
                                    <%= data[id - 1].Thang %> <%= data[id - 1].Ngay %>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            
                <section class="new-post">
                    <div class="seperate-footer">
                        <i class="fas fa-horizontal-rule"></i>
                        <i class="fas fa-horizontal-rule"></i>
                    </div>
            
                    <div class="trending-post">
                        <b>TRENDING POSTS</b>
                    </div>
                    <div class="side-news">
                        <div class="container-fluid">
                            <div class="row">
                                <% for (let i = 0; i < 9; i++) { %>
                                    <div class="col-md-4">
                                        <div class="sub-category">
                                            <div class="image-side-news">
                                                <a href="<%= data[i].Slug %>"><img src="<%= data[i].HinhAnh %>" alt=""></a>
                                            </div>
                                            <div class="content-side-news">
                                                <p style="color: #6351ce;">News</p>
                                                <h5><a href="<%= data[i].Slug %>"><%= data[i].TieuDe %></a></h5>
                                                <p><a href="<%= data[i].Slug %>">see more <i class="fas fa-arrow-circle-right"></i></a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %> 
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <%- include("layout/footer") %> 
</body>
</html>